@model AFSGo.Web.Models.TranslationViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TranslationViewModel</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Translator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Translator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TranslatedText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TranslatedText)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>